<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <div>
                            <img src="https://i.ibb.co/rshckyB/car-key.png" alt="car-key" border="0">
                        </div>
                        <form (ngSubmit)="forgotPassword()">
                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                                <p class="text-white-50 mb-5">Please enter your registered mobile number to reset your
                                    password!</p>

                                <div class="form-outline form-white mb-4">
                                    <input type="text" id="contactNumberF" class="form-control form-control-lg"
                                        name="contactNumber" [(ngModel)]='user.contactNumber' />
                                    <label class="form-label" for="contactNumberF">Phone</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="typePasswordF" class="form-control form-control-lg"
                                        name="password" [(ngModel)]='user.password' />
                                    <label class="form-label" for="typePasswordF">Password</label>
                                </div>

                                <div class="form-outline form-white mb-4">
                                    <input type="password" id="retypePasswordF" class="form-control form-control-lg"
                                        name="password" />
                                    <label class="form-label" for="retypePasswordF">Confirm Password</label>
                                </div>
                            </div>
                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>