<header class="site-navbar" role="banner">

    <div class="container-fluid">
      <div class="row align-items-center">
  
        <div class="col-11 col-xl-2">
          <h1 class="mb-0 site-logo" style="margin-left: 50px; font-size: 50px;"><a class="text-white mb-0"><span style="color: #007bff;font-size: 30px;font-weight: bold;">OFRS</span></a></h1>
        </div>
        <div class="col-12 col-md-10 d-none d-xl-block">
  
          <nav class="site-navigation position-relative text-right sticky-top" role="navigation">
  
            <ul class="site-menu js-clone-nav mr-auto d-none d-lg-block">
              <li><a routerLink="userSearchFlight"><span>Home</span></a></li>
  
              <li><a routerLink="manageBookings"><span>Manage Bookings</span></a></li>

              <li><a routerLink="complainListUser"><span>Complain</span></a></li>

              <li><a routerLink="feedback"><span>Feedback</span></a></li>

              <li><a routerLink="myProfile"><span>My Profile</span></a></li>

              <li><a routerLink="updateProfile"><span>Update Profile</span></a></li>
  
  
            <li><a routerLink="logout" (click)="logout()"><span>Logout</span></a></li>
            </ul>
          </nav>
        </div>
  
  
        <div class="d-inline-block d-xl-none ml-md-0 mr-auto py-3" style="position: relative; top: 3px;"><a href="#"
            class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
  
      </div>
  
    </div>
  
  
  </header>
