body {
    background: #eee
}


button{
    border-radius: 20px;
     background-color:#007bff;
     color: #fff;
    border: transparent;
}

.search{
  border-radius: 20px;
}
.search::placeholder{
  padding-left: 7px;
}

.title{
    font-size: 30px;
    padding-top: 25px;
    padding-left: 20px;
    font-weight: 500;
   color: #007bff; 
   
  }

.card:hover{
    // height: 260px;
    background-color: #47d147;
}

.card {
    width: 240px;
    padding: 10px;
    border-radius: 20px;
    background: #007bff;
    border: none;
    color: #fff;
    height: 240px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

// .card:hover{
//     background-color: #00ff00;
// }
.container {
    height: 100vh;
    margin-top: 100px;
}

.card h1 {
    font-size: 40px;
    margin-bottom: 0px;
    
}



small{
    font-size: 18px;
}

.card span {
    font-size: 23px
}

.image {
    position: absolute;
    opacity: .1;
    left: 0;
    top: 0;
  
}



.image2 {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: .1
}