.gradient-custom {
    // background: #6a11cb;
    

    // background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    // background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

.card{
    background: #000;
    opacity: 0.7;
}

ngb-rating {
    color:gold;
    font-size: 80px;
}