<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card  text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
                        <form (ngSubmit)="addFeedback()">
                            <div class="mb-md-5 mt-md-4 pb-5">

                                <h2 class="fw-bold mb-2 text-uppercase">Feedback</h2>
                                <!-- <div class="form-outline form-white mb-4">
                                    <input type="email" id="emailF" class="form-control form-control-lg"
                                        name="email" [(ngModel)]='feedback.userEmail' />
                                    <label class="form-label" for="emailF">Email</label>
                                </div> -->

                                <div class="form-outline form-white mb-4">
                                    <textarea id="details" class="md-textarea form-control" rows="3"
                                        [(ngModel)]='feed.feedbackDetails' name="details"></textarea>
                                    <label for="details">Feedback</label>
                                </div>

                                <div style="font-size : small; color:gold;">
                                    <ngb-rating [max] = "5" [(rate)]="feed.rating" [(ngModel)]="feed.rating" [readonly]="false" [ngModelOptions]="{standalone: true}"></ngb-rating>
                                </div>
                                <button class="btn btn-outline-light btn-lg px-5" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>